@font-face{
    font-family: "pokemon-gb";
    src: url("assets/fonts/Pokemon-GB.ttf");
}
*{
    padding: 0;
    margin: 0;
    font-family: "pokemon-gb";
    font-size: medium;

}
article {
    overflow-anchor: [auto ];
}
body{
    background-color: #FCEEC8;
}
.pokemonLogo{
    padding-top: 5rem;
    padding-left: 2rem;
    width: 50rem;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
.white-circle{
    background-color:white;
    width: 100px;
    height: 95%;
    min-width:fit-content;
    min-height:fit-content;
    border-radius: 5rem;
}
.list-item{
    width: 100%;
    height: 110px;
    min-width: fit-content;
    background-color:#9EDEF9;
    border-radius: 4rem;
    border-style: solid;
    border-color: #333;
    border-width: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.list-item img{
    padding: 5px;
    width: 90px;
    height: 90px;
}
.pokemon-list-container{
    flex-basis: 43%;
    display: grid;
    grid-gap:12px;
}
.pokemon-list-container h2{
    text-transform: capitalize;
}
.info-container{
    width: 53rem;
    height: 30rem;
    color: black;
    position: fixed;
    top: 10rem;
    right: 40px;
}
.card{
    width: 100%;
    height: 100%;
    min-width: fit-content;
    background-color:#9EDEF9;
    border-radius: 2rem;
    border-width: 5px;
    border-style: solid;
    border-color: #333;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display:flex;
    align-items: top;
    justify-content: space-between;
    box-sizing: border-box;
}
.card img{
    max-width: 370px;
    position: fixed;
    right: 30rem;
    top: 250px;
}
.card h1{
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    font-size:25px;
    letter-spacing: 5px;
    margin-top: 1rem;
}
.card h2{
    font-size: 15px;
}
.abilities{
    text-transform: capitalize;
    font-size: small;
    position: fixed;
    min-width: 200px;
    right: 4.5rem;
    top: 12rem;
    display:flex;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    border-radius: 13px;
    border-style: solid;
    border-color: #333;
    border-width: 3px;
    margin-left: 7px;
}
.base-stat{
    margin-top: 18rem;
    min-width: fit-content;
    text-transform: capitalize;
    font-weight: bold;
    text-align: end;
}
.btn-group button{
    text-align: center;
    min-width: 150px;
    min-height: 50px;
    padding: 0.3rem 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(197, 192, 192);
    background-color: #84303c;
    transition: 0.3s;
    border-radius: 8px;
    border-style: solid;
    border-color: #333;
    border-width: 3px;
    border: 0 10px;
}
button:hover {
    background-color: #dc5366;
    color: white;
}

#previousButton {
    position: absolute;
    margin-left: 10rem;
    margin-top: 4rem;
}

#nextButton {
    position: absolute;
    margin-left: 20rem;
    margin-top: 4rem;
}