@font-face {
  font-family: 'pokemon-gb';
  src: url('assets/fonts/Pokemon-GB.ttf');
}

* {
  font-family: 'pokemon-gb';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fceec8;
}

article {
  overflow-anchor: [auto];
}

.pokemonLogo {
  padding: 5rem 0 0 2rem;
  width: 50rem;
}

.container {
  display: flex;
  margin: auto;
  padding-bottom: 10rem;
  padding-top: 100px;
  width: 90%;
}

.white-pokemon-circle {
  background-color: rgb(255 255 255 / 100%);
  border-radius: 5rem;
  height: 95px;
  min-height: fit-content;
  min-width: fit-content;
  width: 95px;
}

.white-pokeball-circle {
  background-color: rgb(255 255 255 / 100%);
  /* border:none; */
  border-radius: 5rem;
  border-width: 4px;
  /* box-shadow: 10px; */
  height: 80px;
  margin-left: 5px;
  outline: 10px;
  width: 80px;
}

.white-pokeball-circle:hover {
  box-shadow: 10px 12px 12px 0 rgb(0 0 0 / 40%);
  transition-duration: 0.2s;
}

#pokeball-image {
  height: 70px;
  padding: 1px;
  width: 70px;
}

#pokemon-list-image {
  height: 89px;
  padding-left: 4px;
  padding-top: 6px;
  width: 89px;
}

.list-item {
  align-items: center;
  background-color: #9edef9;
  border-color: #333;
  border-radius: 4rem;
  border-style: solid;
  border-width: 5px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
  box-sizing: border-box;
  display: flex;
  height: 110px;
  justify-content: space-between;
  min-width: 30rem;
  padding: 0 5px;
  width: 100%;
}

#pokemonListId {
  flex: 0 0;
}

#pokemonListName {
  flex: 0 0 180px;
}

.pokemon-list-container {
  flex-basis: 45%;
  display: grid;
  grid-gap: 12px;
}

.pokemon-list-container h2 {
  text-transform: capitalize;
}

.info-container {
  color: rgb(0 0 0 / 100%);
  height: 30rem;
  position: fixed;
  right: 40px;
  top: 10rem;
  width: 53rem;
}

.card {
  align-items: top;
  background-color: #9edef9;
  border-color: #333;
  border-radius: 2rem;
  border-style: solid;
  border-width: 5px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  min-width: fit-content;
  padding: 0 1.5rem;
  width: 100%;
}

.card img {
  max-width: 370px;
  position: fixed;
  right: 30rem;
  top: 250px;
}

.card h1 {
  /* Try to use numbers divisible by 4 */
  /* use rem unit size for font-size */
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 1rem;
  position: fixed;
  text-transform: uppercase;
}

.card h2 {
  /* Try to use numbers divisible by 4 */
  /* use rem unit size for font-size */
  /* 16px is your default browser font size, so this is too small */
  /* h2 size is usually 1.5rem or 24px */
  /* if you need to use 15 or 16px define this as h4  */
  /* .card h4 {...}  */
  font-size: 15px;
  /* margin-left: 10px; */
}
.abilities {
  display: flex;
  font-size: small;
  min-width: 200px;
  position: fixed;
  right: 4.5rem;
  text-transform: capitalize;
  top: 12rem;
}

.abilities .group {
  background-color: #b74555;
  color: white;
  padding: 0.5rem;
  border-radius: 13px;
  border-style: solid;
  border-color: #333;
  border-width: 3px;
  margin-left: 7px;
}

.base-stat {
  font-weight: bold;
  margin-top: 18rem;
  min-width: fit-content;
  text-align: end;
  text-transform: capitalize;
}
