@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
article {
    overflow-anchor: [auto ];
}
body{
    background-color: #FCEEC8;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
.card{
    width: 100%;
    height: 100%;
    min-width: fit-content;
    background-color:#9EDEF9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.card img{
    size: fit-content;
}
.left-content{
    flex-basis: 45%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,0.3fr));
    grid-gap:1rem;
    padding-bottom: 150px;
}
.left-content img{
    min-width: fit-content;
    min-height: 100px;
}
.left-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: pre-line;
}
.right-content{
    width: 50%;
    min-width: 55rem;
    height: 320px;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 50px;
}
.right-content img{
    position: fixed;
    padding-left: 200px;
    min-width: 350px;
}
.right-content h1{
    position: fixed;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    position: fixed;
    min-width: 200px;
    margin-left: 6in;
    margin-bottom: 15rem;
    display:flex;
}
.abilities .group{
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 1rem;
    min-width: fit-content;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    min-width: 150px;
    min-height: 40px;
    padding: 0.3rem 0;
    margin-top: 4rem;
    margin-left: 130px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
}